html,
body {
  padding: 0;
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: #000000;
  background: #ffffff;
  overflow-x: hidden;
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  overflow-anchor: none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

::-webkit-scrollbar {
  /* width: 0px; */
  background-color: #7b7b7b;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 1.4rem;
}
h2 {
  font-family: 'Koh Santepheap';
  font-weight: 300;
}

* {
  box-sizing: border-box;
}